[Desktop Entry]
Encoding=UTF-8
Name=Luckycoin
Comment=Luckycoin P2P Cryptocurrency
Comment[fr]=Luckycoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Luckycoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/luckycoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/luckycoin80.xpm
MimeType=x-scheme-handler/luckycoin;
Categories=Office;
