#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_luckycoin
#build/luckycoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_luckycoin)

DEB_INSTALL_EXAMPLES_luckycoind += debian/examples/*
DEB_INSTALL_MANPAGES_luckycoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix luckycoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f luckycoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake luckycoin-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_luckycoin
	src/test_luckycoin

# Ensure wrapper is set executable
binary-post-install/luckycoind:
	chmod +x $(cdbs_curdestdir)usr/bin/luckycoind
binary-post-install/luckycoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/luckycoin-qt
